---
import Navigation from "../components/Navigation.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body class="min-h-[calc(100vh-30px)] bg-white">
    <main class="container mx-auto">
      <Navigation />
      <h1
        class="text font-bold border-t border-b text-nowrap mt-8 [font-size:_clamp(5vw,18vw-1rem,243.8px)] text-black-1 text-center leading-normal"
      >
        THE BLOG
      </h1>
    </main>
  </body>
</html>

<style>
  html {
    font-family: "Inter", sans-serif;
  }
  /* For mobile devices */
  /* .text {
    font-size: clamp(5vw, 18vw - 1rem, 243.8px);
    text-align: center;

    /* mobile - 72px

Tablet - 160.8px

Desktop version - 243.8px */
  /* } */
</style>
