---
import ThemeToggler from "./ThemeToggler.astro";
---

<nav class="flex justify-between items-center mt-[30px] sm:p-0 px-5">
  <div class="text-black-1 font-extrabold text-xl">BLG</div>
  <div class="md:flex gap-[14px] hidden">
    <ul class="flex gap-[14px] items-center">
      <li>
        <a class="font-normal text-black-1 text-lg leading-6" href="/">Blog</a>
      </li>

      <li>
        <a class="font-normal text-black-1 text-lg leading-6" href="#"
          >Projects</a
        >
      </li>
      <li>
        <a class="font-normal text-black-1 text-lg leading-6" href="#">About</a>
      </li>
      <li>
        <a class="font-normal text-black-1 text-lg leading-6" href="#"
          >Newsletter</a
        >
      </li>
    </ul>
    <ThemeToggler />
  </div>

  <button class="space-y-1 md:hidden">
    <div class="w-6 h-1 bg-black rounded-sm"></div>
    <div class="w-6 h-1 bg-black rounded-sm"></div>
    <div class="w-6 h-1 bg-black rounded-sm"></div>
  </button>
  <div
    class="md:hidden absolute min-h-screen nav-close dark:bg-black-1 z-30 bg-white w-full top-0 right-0"
    menu-nav
  >
    <ul class="flex flex-col items-center justify-center min-h-screen gap-5">
      <li>
        <a
          class="font-normal dark:text-white text-black-1 text-lg leading-6"
          href="/">Blog</a
        >
      </li>

      <li>
        <a
          class="font-normal dark:text-white text-black-1 text-lg leading-6"
          href="#">Projects</a
        >
      </li>
      <li>
        <a
          class="font-normal dark:text-white text-black-1 text-lg leading-6"
          href="#">About</a
        >
      </li>
      <li>
        <a
          class="font-normal dark:text-white text-black-1 text-lg leading-6"
          href="#">Newsletter</a
        >
      </li>
      <ThemeToggler />
    </ul>
    <button class="absolute bottom-5 left-1/2 h-8 w-8">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="32"
        height="32"
        viewBox="0 0 32 32"
        fill="none"
      >
        <g clip-path="url(#clip0_614_376)">
          <path
            d="M24.5324 23.0749L9.35319 7.89567C8.85852 7.401 8.05652 7.401 7.56185 7.89567L7.46757 7.98995C6.97291 8.48461 6.97291 9.28662 7.46757 9.78129L22.6468 24.9605C23.1415 25.4552 23.9435 25.4552 24.4381 24.9605L24.5324 24.8662C25.0271 24.3716 25.0271 23.5696 24.5324 23.0749Z"
            fill="white"></path>
          <path
            d="M22.6469 7.92511L7.46769 23.1043C6.97303 23.599 6.97303 24.401 7.46769 24.8957L7.56197 24.9899C8.05663 25.4846 8.85864 25.4846 9.35331 24.9899L24.5325 9.81072C25.0272 9.31606 25.0272 8.51405 24.5325 8.01939L24.4383 7.92511C23.9436 7.43044 23.1416 7.43044 22.6469 7.92511Z"
            fill="white"></path>
        </g>
        <defs>
          <clipPath id="clip0_614_376">
            <rect width="32" height="32" fill="white"></rect>
          </clipPath>
        </defs>
      </svg>
    </button>
  </div>
</nav>

<style>
  .nav-open {
    width: 100%;
    opacity: 1;
    display: block;
  }

  .nav-close {
    width: 0%;
    opacity: 0;
    display: none;
  }
</style>

<!-- use toggle instead of remove and add css classes  -->

<script>
  const navButton = document.querySelector("button");
  const navMenu = document.querySelector("div[menu-nav]");
  const navClose = document.querySelectorAll("button")[1];
  navButton?.addEventListener("click", () => {
    navMenu?.classList.toggle("nav-close");
  });
  navClose?.addEventListener("click", () => {
    navMenu?.classList.toggle("nav-close");
  });
</script>
